/****************************************************/
/*************** MEDIUM DEVICES SHEET ***************/
/****************************************************/


/********** DEVICE SIZE QUERY **********/

/* detect if a screen is a tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /***** customize body size *****/

    /* base content */
    body {

        /* text size */
        font-size: 18px;
    }

    /***** customize header size *****/

    /* introductory content */
    .header {

        /* element height */
        height: 80px;
    }

    /***** customize div size *****/

    /* main content */
    .div {

        /* element height */
        height: 80px;

        /* element distance from screen edge */
        margin-left: 2.5%;
        margin-right: 2.5%;

        /* text distance from element edge */
        padding-left: 2.5%;
        padding-right: 2.5%;
    }

    /***** customize footer size *****/

    /* ending content */
    .footer {

        /* element height */
        height: 80px;

        /* element distance from screen edge */
        margin-left: 2.5%;
        margin-right: 2.5%;

        /* text distance from element edge */
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}